# Introduction to Deep Learning and Neural Network with Keras

**Final work**

**Ing. José Miguel Pereira Pontón**


# Instructions - Part A:
A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. you can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. you can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

# Instructions - Part B:
6. Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

# Preparing the environment

Import some libraries

In [1]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np

Read the data set

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Split dataset into inputs(predictors) and y (target)

In [3]:
# First: Split dataset into input (x) and output (y) variables
# Obtain the columns
concrete_data_columns = concrete_data.columns
# Selecting all columns except Strength
x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
# Strength column
y = concrete_data['Strength']

In [4]:
# Lets do some review of information of predictors
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [5]:
# Lets do some review of information of target
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [6]:
# Finally normalizing the data by substracting the mean and dividing by the standard deviation
x_norm = (x-x.mean())/x.std()

In [ ]:
# Number of predictors
n_cols = x.shape[1]

Using the model from Part A

In [7]:
# Defining a function for regression model
def regression_model():
    # create model
    model = Sequential()
    # First layer
    model.add(Dense(7, activation='relu',input_shape=(n_cols,)))
    # Hiden Layer
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

model = regression_model()

NameError: name 'n_cols' is not defined

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_norm, y, test_size=0.3, random_state=23)
# let's have a look at the shape of the predictors set
x_train.shape

2. Train the model on the training data using 50 epochs.

In [ ]:
model.fit(x_train, y_train, epochs=50)

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. you can use the mean_squared_error function from Scikit-learn.

In [ ]:
y_pred = model.predict(x_test)
from sklearn.metrics import mean_squared_error
print('Mean squared error on test data is %.3f' % (mean_squared_error(y_test, y_pred)))

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
5. Report the mean and the standard deviation of the mean squared errors.

In [ ]:
mse = []
for i in range(50):
    model = regression_model()
    model.fit(x_train, y_train, epochs=50)
    y_pred = model.predict(x_test)
    mse.append(mean_squared_error(y_test, y_pred))

5. Report the mean and the standard deviation of the mean squared errors.

In [ ]:
mean = np.mean(mse)
mean

In [ ]:
std = np.std(mse)
std

In [ ]:
print("Mean squared errors for 50 regression models: mean = %.3f, std dev = %.3f" %(mean, std))

**End of Part B.**